.menu-btn {
    margin-top: var(--spacing-md);
    padding: var(--spacing-sm);
    width: 100%;
    border: 4px solid var(--retro-border);
    background: var(--retro-primary);
    color: #fff;
    font-size: var(--font-size-small);
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 4px 4px 0 var(--retro-border);
    transition: all 0.1s ease-in-out;
}

.menu-btn:disabled {
    background: #23b800;
    cursor: not-allowed;
}

.menu-btn:hover:enabled {.menu-btn{
    max-width: 300px;
}
    background: var(--retro-secondary);
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 var(--retro-border);
}

/* Wrapper for search bar, input, and buttons */
.search-container {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* space between input and buttons */
    width: 100%;
}

/* Input styling */
.search-input {
    flex: 1; /* take up all available space */
    padding: 0.75rem 1rem;
    font-size: 1rem;
    border: 4px solid var(--retro-border);
    outline: none;
    box-shadow: 4px 4px 0 var(--retro-border);
}

/* Make search + clear buttons uniform */

.clear-btn {
    padding: 0.5rem 2rem;
    font-size: 1rem;
    border: 4px solid var(--retro-border);
    background: var(--retro-primary);
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 0 var(--retro-border);
    transition: all 0.1s ease-in-out;
}

/* Hover effect */
.search-btn:hover,
.clear-btn:hover {
    background: var(--retro-secondary);
    transform: translate(-2px, -2px);
    box-shadow: 6px 6px 0 var(--retro-border);
}

/* Disabled state for consistency */
.search-btn:disabled,
.clear-btn:disabled {
    background: #e8d40d;
    cursor: not-allowed;
}

