@import url("./variables.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--retro-font);
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    cursor: url('assets/masterball.png') 16 16, auto;
}

.loading {
    text-align: center;
    color: var(--retro-secondary);
    font-size: var(--font-size-medium);
}

.error {
    text-align: center;
    color: red;
    font-size: var(--font-size-medium);
}
